<mat-card class="login-container">
    <mat-card-header>
        <h2 class="title">Task Organizer</h2>
    </mat-card-header>
    <mat-card-content>
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
            @let errorsEmail = this.loginForm.controls.email.errors;
            @let errors = this.loginForm.controls.password.errors;
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email">
                @if(errorsEmail?.['email']) {
                    <mat-error>Please enter a valid email</mat-error>
                }
                @else if (errorsEmail?.['required']) {
                    <mat-error>Please enter your email</mat-error>
                }
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
                @if(errors?.['required']) {
                    <mat-error>Please enter your password</mat-error>
                }
            </mat-form-field>
            <button mat-fab extended type="submit" [disabled]="!loginForm.valid">Login</button>
        </form>
        <div class="or-group">
            <mat-divider></mat-divider>
            <div>or</div>
            <mat-divider></mat-divider>
        </div>
        <button class="sign-up" mat-fab extended (click)="login()" type="button">Sign up</button>
    </mat-card-content>
</mat-card>
