{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 150,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular",
        "htmlWhitespaceSensitivity": "ignore"
      }
    },
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*.scss",
      "options": {
        "parser": "scss"
      }
    }
  ]
}
